.login-page {
  min-height: 400px;
  padding: 35px;
  margin: auto;
}

.signup_form {
  width: 500px;
  margin: auto;
  margin-top: 60px;
  padding: 48px;
  border: 3px black solid;
  border-radius: 32px;
  background-color: aliceblue;
}

.login-form {
  width: 500px;
  margin: auto;
  margin-top: 60px;
  padding: 48px;
  border: 3px black solid;
  border-radius: 32px;
  background-color: aliceblue;
}

.flex-container-login {
  display: flex;
  flex-direction: column;
  align-items: center;

}


.signup_inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signup_input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.signup_input input, .signup_input textarea {
  background-color: #FFE2E2;
  border-radius: 6px;
  width: 200px;
  /* margin-left: 24px !important; */
}

/* .form-label {
  margin-right: 12px
} */

.login-button, .regis-button {
 width: 90px !important;
 height: 40px;
 border: 1px black solid !important;
 background: lightblue !important;
}

.login-input {
  width: 100%;
  margin: auto;
}

.login-field {
  margin: auto;
}

.regis-button, .login-button {
  margin-top: 24px;
}