p {
  font-size: 14px !important;
}
 .container {
  padding: 9px 27px 14px 20px !important;
}
 

.invoice-form {
  border: 1px solid black;
  min-width: 15px;
  width: 900px;
  height: auto;
  margin: 0;
  background-color: rgba(94, 149, 75, 0.16);
  border-radius: 24px;



}

.error-msg, success-msg {
  height: 24px;
  margin:auto;
}

.form-control {
  font-size: 14px !important;
  margin: 0;
  border: 0 !important;
  background-color: #FFE2E2 !important;
}



.form-row {
  width: 60%;
  max-width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 48px;
  margin-bottom: 24px;
  border-bottom: 3px black solid
  
}
.heading {
  margin: 0;
  padding: 0;

}

.invoice-sub-header {
  font-size: 16px;
  font-weight: 700;
}
.form-group { margin-bottom: .3rem; }


.group {

  border: 0;
  font-size: 14px;
  width: 90%;
}

.invoice-details-field {
  margin-top: 16px;

}

.code-field {
  max-width: fit-content;
  display: block;
}
.code-field input {
  max-width: 120px;
  display: block;
}
.titleInput {
  border: 3px solid black !important;
  min-width: 48mm;

  max-inline-size: 30%;
  font-size: 16px ;
  font-weight: 700 !important;
  background-color: white !important;
  text-align: center !important;
  width: 15%;
}

.titleInput:hover {
  background-color: white !important;
}

.downloadBtn, .saveBtn {
  color: white !important;
  text-shadow: -1px 0px 4px rgba(196, 175, 237, 0.912);
  width: 8em;
  font-size: 14px !important;
  border-radius: 18px !important;
}



input, Input, textarea {
  padding: 0 !important;
  margin: 0 !important;
  border: 0;
  transition: transform 350ms !important;
 
}
input, Input, textarea {
  /* background-color: yellow !important; */

  margin-right: 3px !important;
  background-color: inherit;
  min-height: 24px;
}

input:hover, Input:hover, textarea:hover {
  background-color: #FFE2E2 !important;
  transition: 400ms !important;
}

.total, .subtotal {
  max-width: fit-content;
  text-align: right;
  margin-left: auto;
}

.total:hover, .subtotal:hover {
  background-color: aquamarine;

  transition: 400ms ;

  
}


label {
  padding: 0;
  margin: 0;
  border: 0

}

.text-area {
  background-color: inherit;
}

.itemTable {
  margin: auto;
  margin-top: 8px;
  width: 50% !important;
}

.itemTable input {
  width: 60px;
}


form .invoice-field-box {
  padding: 25px;
}
form {
  padding: 25px;
}


.add {
  font-size: 22px;
  background-color: lightgreen;
  text-align: center;
  margin: 8px;
  padding: 6px 16px;

}

.add:hover {
  background-color: green !important;
}


.remove {
  padding: 16px !important;
  vertical-align: middle;
}

.remove:hover {
  background-color: rgb(174, 20, 20) !important;
  color: white !important;
}

.errorMsg {
  background-color: rgb(240, 94, 94);
  text-align: center;
  font-weight: bold;
  color: white
}

.successMsg {
  background-color: rgb(128, 249, 158);
  text-align: center;
  font-weight: bold;
  color: white
}

p {
  margin-bottom: 0 !important;
}

button {
  padding: 0;
  margin: 0;
}


#taxRate {
  width: 70px !important;
  min-width: fit-content;

  text-align: right;
}

.darktable a {
  color: #bee1ff !important;
}

.generateBillingButton:hover {
  border: 3px darkgreen solid;
  margin: -2px;
}

.generateBillingButton {
  color:  rgb(29, 51, 29) !important;
  font-size: 12px !important;
  background-color: inherit !important;
}

.termsNotes {
  width: 306px !important;
  
}