.container-box {
  font-size: 16px !important;
  padding: 50px !important;
  margin: 10px !important;
  
}

.form-control {
  font-size: 16px !important;
  margin: 0;
  border: 0 !important;
  background-color: #FFE2E2 !important;
}

.form-row {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  
}
.heading {
  margin: 0;
  padding: 0;
  padding-right: 24px;
}
.form-group { margin-bottom: .3rem; }
h4 {
  font-size: 14px;
}

.group {
  margin-bottom: 2em;
  border: 0;
}

.titleInput {
  border: 3px solid black !important;
  min-width: 48mm;
  min-height: 22mm;
  max-inline-size: 30%;
  font-size: 44px !important;
  font-weight: 700 !important;
  background-color: white !important;
  text-align: center !important;
}

.titleInput:hover {
  background-color: white !important;
}

.downloadBtn, .saveBtn {
  color: white !important;
  text-shadow: -1px 0px 4px rgba(196, 175, 237, 0.912);
  width: 8em;
  font-size: 18px !important;
  border-radius: 25px !important;
}

input, Input, textarea {
  padding: 0 !important;
  margin: 0 !important;
  border: 0;
  transition: transform 350ms !important;
  max-width: fit-content;
  

}
input, Input, textarea {
  background-color: yellow !important;
  border: 1px black solid !important;
  max-width: fit-content;
  margin-right: 3px !important;
}

Input {
  background-color: #FFE2E2;
}

label {
  padding: 0;
  margin: 0;
  border: 0


}

.itemTable {
  margin-top: 8px;
}

td {
  border: 1px black solid !important;
}

.add {
  font-size: 22px;
  background-color: lightgreen;
  text-align: center;
  margin: 8px;
  padding: 6px 16px;

}

.add:hover {
  background-color: green !important;
}


.remove {
  padding: 0;
  background-color: red;
  margin: 50% 5px;

}

.remove:hover {
  background-color: darkred !important;
}

.errorMsg {
  background-color: rgb(240, 94, 94);
  text-align: center;
  font-weight: bold;
  color: white
}

p {
  margin-bottom: 0 !important;
}

button {
  padding: 0;
  margin: 0;
  height: 60px;
}