
.nav {
  width: auto;
  padding: .7em 0 0 0 ;

  font-size: 16px;
  /* background-color: #D9D9D9; */
  margin: auto;

  gap: 48px;


  }

  .d-flex {
    padding-left: 3em !important;
  }
  .form-control {
    font-size: 12px !important;
    border: 1px;
  }

  .nav a {
    text-decoration: none;
    color: black;
  }
  
.unselected {
  color: orange !important;
}

  
