
.nav {
  width: 100%;
  padding: .7em 0;
  font-size: 24px;
  /* background-color: #D9D9D9; */
  margin: auto;
  border-bottom: 2px black solid;
  gap: 48px;


  }

  .d-flex {
    padding-left: 3em !important;
  }
  .form-control {
    font-size: 12px !important;
    border: 1px;
  }